body {
    background-color: #f1e9da ;
    
}




#header {
    background-color: #aed5bb;
    background-image: url("https://images.unsplash.com/photo-1613376023733-0a73315d9b06?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover ;
    background-repeat:no-repeat;
    text-align: center;
    color: #b35757;
    padding: 200px 0;
    text-shadow: 2px 2px #ffe4e4;
    font-family: Verdana;
}

.list ul {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .list-li {
    list-style: none;
    width: 200px;
    box-shadow: 4px 4px 10px #c9c8c8;
    padding: 5px;
    margin: 10px;
  }
  
  .list-li h3 {
    height: 70px;
  }
  
  .list-li img{
    width: 190px;
    height: 265px;
  }